Repository ccarcione/vetrina-dolci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_IdentityServer, build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

Path conditions:
  build_IdentityServer: (any of: src/IdentityServer/**/*) and (not (any of: *.md))
  build_VetrinaDolci.WebAPI: (any of: src/VetrinaDolci.WebAPI/**/*) and (not (any of: *.md))
  build_vetrina-dolci-client: (any of: src/vetrina-dolci-client/**/*) and (not (any of: *.md))
  master_deploy_IdentityServer: not (any of: *.md)
  master_deploy_VetrinaDolci.WebAPI: not (any of: *.md)
  master_deploy_vetrina-dolci-client: not (any of: *.md)

update cicd
  .gitlab-ci.yml
Due: master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

v1.0.1
  src/IdentityServer/IdentityServer.csproj
  src/VetrinaDolci.WebAPI/VetrinaDolci.WebAPI.csproj
  src/vetrina-dolci-client/package.json
Due: build_IdentityServer, build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add primi componentiangular + AllowAnonymous API
  src/VetrinaDolci.WebAPI/Controllers/DolciInVenditaController.cs
  src/vetrina-dolci-client/angular.json
  src/vetrina-dolci-client/package-lock.json
  src/vetrina-dolci-client/package.json
  src/vetrina-dolci-client/src/app/app-routing.module.ts
  src/vetrina-dolci-client/src/app/app.component.css
  src/vetrina-dolci-client/src/app/app.component.html
  src/vetrina-dolci-client/src/app/app.component.ts
  src/vetrina-dolci-client/src/app/app.module.ts
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.css
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.html
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.spec.ts
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.ts
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.css
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.html
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.spec.ts
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.ts
  src/vetrina-dolci-client/src/app/components/header/header.component.css
  src/vetrina-dolci-client/src/app/components/header/header.component.html
  src/vetrina-dolci-client/src/app/components/header/header.component.spec.ts
  src/vetrina-dolci-client/src/app/components/header/header.component.ts
  src/vetrina-dolci-client/src/index.html
  src/vetrina-dolci-client/src/styles.css
Due: build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add vetrina
  src/VetrinaDolci.WebAPI/Controllers/DolciInVenditaController.cs
  src/vetrina-dolci-client/src/app/app.component.ts
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.css
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.html
  src/vetrina-dolci-client/src/app/components/dolci-in-vendita/dolci-in-vendita.component.ts
  src/vetrina-dolci-client/src/app/components/header/header.component.css
  src/vetrina-dolci-client/src/app/models/dolce-in-vendita.ts
  src/vetrina-dolci-client/src/app/models/dolce.ts
  src/vetrina-dolci-client/src/app/models/pagination-result.ts
  src/vetrina-dolci-client/src/app/models/pagination.ts
  src/vetrina-dolci-client/src/app/services/vetrina-dolci-webapi.service.ts
Due: build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

backoffice - modifica(popup) - elimina dolci in vetrina - elenco dolci in vetrina - fix put
  src/vetrina-dolci-client/src/app/app.module.ts
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.css
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.html
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.ts
  src/vetrina-dolci-client/src/app/components/dialog-input-disponibilita/dialog-input-disponibilita.component.css
  src/vetrina-dolci-client/src/app/components/dialog-input-disponibilita/dialog-input-disponibilita.component.html
  src/vetrina-dolci-client/src/app/components/dialog-input-disponibilita/dialog-input-disponibilita.component.spec.ts
  src/vetrina-dolci-client/src/app/components/dialog-input-disponibilita/dialog-input-disponibilita.component.ts
  src/vetrina-dolci-client/src/app/services/vetrina-dolci-webapi.service.ts
Due: build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add home link
  src/vetrina-dolci-client/src/app/components/header/header.component.css
  src/vetrina-dolci-client/src/app/components/header/header.component.html
Due: build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

nuovo dolce in vendita
  src/vetrina-dolci-client/src/app/app.module.ts
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.html
  src/vetrina-dolci-client/src/app/components/backoffice/backoffice.component.ts
  src/vetrina-dolci-client/src/app/components/dialog-nuovo-dolce-in-vetrina/dialog-nuovo-dolce-in-vetrina.component.css
  src/vetrina-dolci-client/src/app/components/dialog-nuovo-dolce-in-vetrina/dialog-nuovo-dolce-in-vetrina.component.html
  src/vetrina-dolci-client/src/app/components/dialog-nuovo-dolce-in-vetrina/dialog-nuovo-dolce-in-vetrina.component.spec.ts
  src/vetrina-dolci-client/src/app/components/dialog-nuovo-dolce-in-vetrina/dialog-nuovo-dolce-in-vetrina.component.ts
  src/vetrina-dolci-client/src/app/services/vetrina-dolci-webapi.service.ts
Due: build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

bugfix
  src/VetrinaDolci.WebAPI/Controllers/SetupController.cs
Due: build_VetrinaDolci.WebAPI, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

seed dolci in vetrina
  src/VetrinaDolci.WebAPI/SeedHelper.cs
  src/VetrinaDolci.WebAPI/vetrina-dolci.sqbpro
Due: build_VetrinaDolci.WebAPI, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

enable seed data solo in dev
  src/VetrinaDolci.WebAPI/Startup.cs
Due: build_VetrinaDolci.WebAPI, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

fix Error: bundle initial exceeded maximum budget.
  src/vetrina-dolci-client/angular.json
Due: build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

v1.1.0
  src/VetrinaDolci.WebAPI/VetrinaDolci.WebAPI.csproj
  src/vetrina-dolci-client/package.json
Due: build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add LICENSE
  LICENSE
Due: master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add docker testdev with https
  docker/.dockerignore
  docker/docker-compose.testdev.yml
  scripts/run-testdev.ps1
  src/IdentityServer/Startup.cs
  src/VetrinaDolci.WebAPI/Startup.cs
  src/VetrinaDolci.WebAPI/appsettings.DockerContainer.json
  src/vetrina-dolci-client/angular.json
  src/vetrina-dolci-client/package.json
  src/vetrina-dolci-client/proxy.conf.docker-container.json
  src/vetrina-dolci-client/src/environments/environment.docker-container.ts
Due: build_IdentityServer, build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add docker prod
  .dockerignore
  docker/Identity.VetrinaDolci.experimenta.cloud.conf
  docker/Vetrina-Dolci.experimenta.cloud.conf
  docker/api.dockerfile
  docker/docker-compose.prod.yml
  docker/identity.dockerfile
  docker/site.dockerfile
  docker/vetrina-dolci-site.conf
  scripts/run-prod.ps1
  src/IdentityServer/Config.cs
  src/IdentityServer/Startup.cs
  src/VetrinaDolci.WebAPI/Startup.cs
  src/VetrinaDolci.WebAPI/appsettings.DockerContainer.json
  src/VetrinaDolci.WebAPI/appsettings.Production.json
  src/VetrinaDolci.WebAPI/vetrina-dolci.sqbpro
  src/vetrina-dolci-client/src/app/auth/auth-config.module.ts
  src/vetrina-dolci-client/src/environments/environment.docker-container.ts
  src/vetrina-dolci-client/src/environments/environment.prod.ts
  src/vetrina-dolci-client/src/environments/environment.ts
Due: build_IdentityServer, build_VetrinaDolci.WebAPI, build_vetrina-dolci-client, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

update cicd with docker
  .gitlab-ci.yml
Due: master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

fix docker-compose cicd
  .gitlab-ci.yml
  docker/docker-compose.cicd.yml
Due: master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add logger
  src/VetrinaDolci.Client/Program.cs
  src/VetrinaDolci.WebAPI/Controllers/SetupController.cs
  src/VetrinaDolci.WebAPI/SeedHelper.cs
  src/VetrinaDolci.WebAPI/Startup.cs
Due: build_VetrinaDolci.WebAPI, master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

add tag cicd
  .gitlab-ci.yml
Due: master_deploy_IdentityServer, master_deploy_VetrinaDolci.WebAPI, master_deploy_vetrina-dolci-client

update readme.md
  readme.md
Due: none
